<h1>Admin &raquo; Dashboard</h1>
<div class='well'>
  <h3>Total Number of Products in Store: <%= @product_count %></h3>
  <h3>Total Number of Product Categories in Store: <%= @category_count %></h3>
</div>
